#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WIFI
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/forlinx/wifi-icon.png
Exec=fltest_qt_wifi
Type=Application
ProgramType=gui
Name[en_US]=qt5_wifi.desktop
