#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Set Userspace Governor
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/power-icon.png
Type=Application
Exec=fltest_setgovernor.sh userspace
Categories=power
ProgramType=console
X-MATRIX-Description=/www/pages/matrix-gui-2.0/apps/pm_userspace_governor/desc_pm_userspace_governor.html
Name[en_US]=pm_userspace_governor.desktop
