#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Keypad
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/forlinx/key-icon.png
Exec=fltest_qt_keypad
Type=Application
ProgramType=gui
Name[en_US]=qt5_keypad.desktop
