#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Network
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/forlinx/network-icon.png
Exec=fltest_qt_network
Type=Application
ProgramType=gui
Name[en_US]=qt5_network.desktop
