#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VPU VP8 Decode
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/multimedia-icon.png
Type=Application
Exec=fltest_runVpuVp8Dec.sh
Categories=multimedia
ProgramType=gui
X-MATRIX-Description=/www/pages/matrix-gui-2.0/apps/vpu_vp8_dec/vp8dec.html
