#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VPU H.265 Decode
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/multimedia-icon.png
Type=Application
Exec=fltest_runVpuH265Dec.sh
Categories=multimedia
ProgramType=gui
X-MATRIX-Description=/www/pages/matrix-gui-2.0/apps/vpu_h265_dec/h265dec.html
