#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Memory
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/settings-icon.png
Type=Application
Exec=fltest_memInfo.sh
Categories=settings
ProgramType=console
