#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Linpack
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/arm-icon.png
Type=Application
Exec=fltest_optimize-benchmark.sh runLinpack
Categories=arm
ProgramType=console
X-MATRIX-Lock=benchmarks
X-MATRIX-Description=/www/pages/matrix-gui-2.0/apps/linpack/desc_linpack.html
