#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Terminal
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/power-icon.png
Type=Application
Exec=fltest_qt_terminal
Categories=settings
ProgramType=gui
X-MATRIX-Description=/www/pages/matrix-gui-2.0/apps/terminal/desc_terminal.html
