#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Settings
GenericName=System Settings
Icon=/www/pages/matrix-gui-2.0/apps/images/settings-icon.png
Type=Directory
X-MATRIX-CategoryTarget=settings
