#!/usr/bin/env xdg-open
[Desktop Entry]
Name=NBench
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/arm-icon.png
Type=Application
Exec=fltest_optimize-benchmark.sh runNBench.sh
Categories=arm
ProgramType=console
X-MATRIX-Lock=benchmarks
X-MATRIX-Description=/www/pages/matrix-gui-2.0/apps/nbench/desc_nbench.html
