#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OpenGL
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/forlinx/opengl-icon.png
Exec=fltest_qt_qopenglwidget
Type=Application
ProgramType=gui
Name[en_US]=qt5_opengl.desktop
