#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RTC
GenericName=Demo App
Icon=/www/pages/matrix-gui-2.0/apps/images/forlinx/rtc-icon.png
Exec=fltest_qt_rtc
Type=Application
ProgramType=gui
Name[en_US]=qt5_rtc.desktop
